$fontFamilyBase: 'Open Sans', sans-serif;
$fontFamilyHarryPotter: 'Modern Antiqua', cursive;

$color_red1: #740001;
$color_red2: #ae0001;
$color_yellow1: #eeba30;
$color_yellow2: #d3a625;
$color_black: #000000;

$fontSizeBase: 16px;

$backgroundColorBase: $color_yellow2;
$textColorBase: $color_black;