@use '../../styles/variables';
@import '../../styles/mixins';

.character {
    &__card {
        margin: 10px;
        padding: 10px;
        position: relative;
        background: variables.$color_yellow1;
        box-shadow: 0px 3px 3px -2px rgba(116, 0, 1, 1.019608);
    }

    &__drop {
        background: rgba(0, 0, 0, .8);
        position: absolute;
        padding: 10px 15px 20px;
        color: white;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }

    &__image {
        justify-content: center;
        background-color: #999999;
        align-items: center;
        height: 540px;
        display: flex;
        
        img {
            width: 100%;
            height: 100%;
            display: block;
            max-height: 100%;
            object-fit: cover;
            
        }
        
        svg {
            font-size: 10rem;
            color: #666666;
        }

    }
    
    &__name {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 10px;
        color: variables.$color_yellow2;
        font-family: variables.$fontFamilyHarryPotter;
        
        small {
            color: variables.$color_red2;
            font-size: .9rem;
            display: block;
        }
    }

    &__info {
        padding: 5px 0;
        font-size: .85em;
        font-weight: 500;
        color: variables.$color_yellow2;
        display: flex;
        justify-content: space-between;

        &:not(:first-child) {
            border-top: solid 1px rgba(255, 255, 255, .1);
        }

        strong {
            text-transform: uppercase;
            text-align: left;
            font-weight: 500;
            min-width: 100px;
            color: white;
        }
    }
}


@include media-min-lg {
    .character {
        &__infos {
            visibility: hidden;
            overflow: hidden;
            transition: all .3s;
            max-height: 0;
            opacity: 0;            
        }

        &__name {
            margin-bottom: 0px;
            transition: margin-bottom .3s;
        }

        &__drop {
            background: rgba(0, 0, 0, .3);
            transition: background .3s;
        }

        &__card {
            cursor: pointer;

            &:hover {
                .character {
                    &__drop {
                        background: rgba(0, 0, 0, .9);
                    }
    
                    &__name {
                        margin-bottom: 10px;
                    }
    
                    &__infos {
                        max-height: 480px;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@include media-min-sm {
    .character {
        &__image {
            height: 320px;
        }
    }
}