@use '../../styles/variables';
@import '../../styles/mixins';

.characters {
    &__list {
        display: grid;
        grid-template-columns: 100%;

        @include media-min-sm {
            grid-template-columns: 50% 50%;
        }
        
        @include media-min-md {
            grid-template-columns: 33.3% 33.3% 33.3%;
        }
        
        @include media-min-lg {
            grid-template-columns: 20% 20% 20% 20% 20%;
        }
    }
}
